$black: rgb(66, 66, 66);
$gray: #565656;
$blue: #63a4e2;
$page1: "../img/1.jpg";
$page2: "../img/222.jpg";
$page3: "../img/3.jpg";
$page4: "../img/4.jpg";
$page5: "../img/5.jpg";
$page6: "../img/6.jpg";

body{
	margin:0;
	nav{
		color: white;
		font-family: "Microsoft YaHei","Times New Roman",serif;
		font-size: 20px;
		//text-align: center;
		background-color: $black;
		position: fixed;
		top:0;
		width: 100%;
		height: 90px;
		z-index: 100;
		.nav-title{

			font-weight:bold;
			position: absolute;
			left: 100px;
			padding: 20px 20px;
		}
		.nav-name{
			font-size: 30px;
			color: #b4cce2;
		}
		.nav-ul{
			position: absolute;
			margin:0;
			right: 30px;
			bottom: 3px;
			.clicked{
				background-color: $gray;
				cursor: pointer;
			}
		}
		.nav-li{
			list-style:none;
			font-size: 15px;
			float: left;
			text-align: center;
			padding: 10px 20px;
			border-bottom: 3px solid $black;
			a{
				color: white;
				text-decoration: none;
			}
		}
		.nav-li:hover{
			border-bottom: 3px solid $blue;
			cursor: pointer;
		}
		.nav-dataCenter{
			position: relative;
		}
		.nav-dataCenter-list{
			position: absolute;
			padding-left: 0;
			top: 43px;
			left: 0;
			background-color: $black;
			ul{
				padding-left: 0;
			}
			li{
				list-style:none;
				padding: 15px 20px;
			}
			li:hover,
			li:active{
				background-color: $gray;
			}
		}

	}
	content{
		font-family: "Microsoft YaHei",serif,"Times New Roman";
		position: relative;
		.text{
			color: white;
			text-align: center;
			z-index: 2;
			position: relative;
			top: -220px;
			h1{
				font-weight: normal;
				text-shadow: 2px 2px 5px $black;
			}
			p{
				font-size: 17px;
				text-shadow: 2px 2px 5px $black;
			}
		}
		.section1{
			background: url($page1) no-repeat;
			background-size: cover;
		}
		.section2{
			background: url($page2) no-repeat;
			background-size: cover;
		}
		.section3{
			background: url($page3) no-repeat;
			background-size: cover;
		}
		.section4{
			background: url($page4) no-repeat;
			background-size: cover;
		}
		.section5{
			background: url($page5) no-repeat;
			background-size: cover;
		}
		.section6{
			background: url($page6) no-repeat;
			background-size: cover;
		}
	}
	#fp-nav ul li a span,
	.fp-slidesNav ul li a span {
		background-color: rgb(200, 200, 200) !important;
	}
}
